.portfolio li {
    flex: 1 1 45%;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 6px #000;
}

.portfolio img {
    width: 100%;
    
}
.portfolio li:nth-child(1){
    flex-basis: 100%;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
}
